absl-py==2.1.0
annotated-types==0.7.0
asgiref==3.7.2
beautifulsoup4==4.12.2
blinker==1.8.2
blis==0.7.11
Brotli==1.1.0
bs4==0.0.1
CacheControl==0.14.2
cachetools==5.5.1
catalogue==2.0.10
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cloudpathlib==0.16.0
clr-loader==0.2.6
colorama==0.4.6
comtypes==1.2.0
confection==0.1.4
cryptography==41.0.3
cssselect2==0.7.0
cymem==2.0.8
distro==1.8.0
Django==4.2.4
django-multiupload==0.6.1
docx==0.2.4
docx2pdf==0.1.8
et-xmlfile==1.1.0
feedparser==6.0.11
fire==0.5.0
firebase-admin==6.6.0
Flask==3.0.3
fonttools==4.42.1
fpdf==1.7.2
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.20.0
google-cloud-storage==3.0.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.67.0
grpcio==1.70.0
grpcio-status==1.70.0
gunicorn==22.0.0
h11==0.14.0
html5lib==1.1
httplib2==0.22.0
idna==3.4
IronPdf==2023.8.6
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
JPype1==1.4.1
langcodes==3.4.0
language_data==1.2.0
lxml==4.9.3
marisa-trie==1.1.1
MarkupSafe==2.1.5
msgpack==1.1.0
murmurhash==1.0.10
numpy==1.25.2
opencv-python==4.8.0.76
openpyxl==3.1.2
packaging==23.1
pandas==2.1.0
pdf2docx==0.5.6
pdf2image==1.16.3
pdfkit==1.0.0
pdfminer.six==20221105
pdfplumber==0.10.2
pdfrw==0.4
pdftables-api @ https://github.com/pdftables/python-pdftables-api/archive/master.tar.gz
Pillow==10.0.0
preshed==3.0.9
proto-plus==1.26.0
protobuf==5.29.3
psutil==5.9.8
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pycparser==2.21
pydantic==2.7.1
pydantic_core==2.18.2
pydyf==0.7.0
PyJWT==2.10.1
PyMuPDF==1.23.3
PyMuPDFb==1.23.3
pyparsing==3.2.1
PyPDF2==3.0.1
pypdfium2==4.19.0
pyphen==0.14.0
pypiwin32==223
python-dateutil==2.8.2
python-docx==0.8.11
pythonnet==3.0.2
pyttsx3==2.90
pytz==2023.3
pywinauto==0.6.8
redis==5.0.4
reportlab==4.0.4
requests==2.31.0
rsa==4.9
scikit-learn==1.4.2
scipy==1.13.0
sgmllib3k==1.0.0
six==1.16.0
smart-open==6.4.0
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.4
spotipy==2.23.0
sqlparse==0.4.4
srsly==2.4.8
tabula-py==2.8.1
termcolor==2.3.0
thinc==8.2.3
threadpoolctl==3.5.0
tinycss2==1.2.1
tqdm==4.66.1
typer==0.9.4
typing_extensions==4.12.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.4
uvicorn==0.29.0
Wand==0.6.11
wasabi==1.1.2
watchdog==4.0.0
weasel==0.3.4
weasyprint==59.0
webencodings==0.5.1
Werkzeug==3.0.3
XlsxWriter==3.1.4
zopfli==0.2.3
